<!DOCTYPE html>
<html>
  <head>
    <title>PerfectVenue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div style="background-color: #5c5cd6; height: 30px; padding: 0px; margin: 0px; width: 100%;"></div>
  <body style="margin: 0; background-color: #f6f6f6">
    <%= yield %>
  </body>
</html>
 