<!DOCTYPE html>
<html>
  <head>
    <title>PerfectVenue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h2 class="container" style="background-color: #0066ff">
    Perfect Venue
    </h2>
  </head>

  <body style="background-color: #f6f6f6">
    <div class="nav navbar" style="margin: auto" >
    </div>
    
    <%= yield %>
  </body>
</html>
 